<div class="boxHedder">
  <div class="boxHedder__leftButtons">
    <div class="boxHedder__leftButtons-all">
      <button class="boxHedder__leftButtons-all-button-actived">Todas</button>
    </div>
    <div class="boxHedder__leftButtons-cardsList">
      <button class="boxHedder__leftButtons-cardsList-item">tarjeta 1</button>
      <button class="boxHedder__leftButtons-cardsList-item">tarjeta 2</button>
      <button class="boxHedder__leftButtons-cardsList-item">tarjeta 3</button>
    </div>
  </div>
  <div class="boxHedder__serchBar">
    <app-serch-bar-operations></app-serch-bar-operations>
  </div>
</div>
