.notFound {
  &__conteiner {
    display: flex;

    &-sidenavbar {
      position: sticky;
      height: 100vh;
      top: 0px;
      color: #fff;
    }

    &-body {
      padding: 0 3rem;
      width: 100%;


      &-content {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;

        &-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 3rem;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .notFound {
    &__conteiner {
      &-body {
        padding: 0 1rem;
        margin-top: 3rem;

        &-content {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width:1150px) {
  .notFound {
    &__conteiner {
      &-body {
        &-content {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
