<div class="notFound fade-in">
  <div class="notFound__conteiner">
    <div class="notFound__conteiner-sidenavbar">
      <app-side-nav-shared></app-side-nav-shared>
    </div>
    <div class="notFound__conteiner-body">
      <div class="notFound__notFound-conteiner-navbar">
        <app-nav-bar-shared></app-nav-bar-shared>
      </div>
      <div class="notFound__conteiner-body-content">
        <div class="notFound__conteiner-body-content-box">
          <h2>Página No encontrada</h2>
          <img src="/assets/payServices/not-found.svg" alt="notFound" />
        </div>
      </div>
    </div>
  </div>
</div>
