.home {
  display: flex;
  height: 100vh;
  justify-content: space-between;

  &__landingForm {
    width: 50%;
    min-width: 593px;
  }

  &__landingImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media screen and (max-width: 960px) {
  .home {
    &__landingImg {
      display: none;
    }
    &__landingForm{
      width: 100%;
      min-width: auto;
    }
  }
}
