<div class="insurances fade-in">
  <div class="insurances__conteiner">
    <div class="insurances__conteiner-sidenavbar">
      <app-side-nav-shared></app-side-nav-shared>
    </div>
    <div class="insurances__conteiner-body">
      <div class="insurances__insurances-conteiner-navbar">
        <app-nav-bar-shared></app-nav-bar-shared>
      </div>

      <div class="insurances__conteiner-body-content">
        <app-header></app-header>
        <app-box-links></app-box-links>
      </div>
    </div>
  </div>
</div>
