<div class="home fade-in">
  <div class="home__conteiner">
    <div class="home__conteiner-sidenavbar">
      <app-side-nav-shared></app-side-nav-shared>
    </div>
    <div class="home__conteiner-body">
      <div class="home__home-conteiner-navbar">
        <app-nav-bar-shared></app-nav-bar-shared>
      </div>

      <div class="home__conteiner-body-content">
        <div class="home__conteiner-body-content-primaryRow">
          <div class="home__conteiner-body-content-primaryRow-analytics">
            <app-analytics></app-analytics>
          </div>
          <div class="home__conteiner-body-content-primaryRow-wallet">
            <app-wallet></app-wallet>
          </div>
        </div>
        <div class="home__conteiner-body-content-secondaryRow">
          <app-operations></app-operations>
        </div>
      </div>
      <div class="home__conteiner-body-content">
        <div class="home__conteiner-body-content-primaryRow">
          <div class="home__conteiner-body-content-primaryRow-wallet">
            <app-balance></app-balance>
          </div>
        </div>
        <div class="home__conteiner-body-content-secondaryRow">
          <app-loans> </app-loans>
        </div>
      </div>

      <div class="home__conteiner-body-content" >
        <div class="home__conteiner-body-content-primaryRow">
          <div class="home__conteiner-body-content-primaryRow-wallet">
            <app-investements></app-investements>
          </div>
        </div>
        <div class="home__conteiner-body-content-secondaryRow">
          <app-fixed-terms></app-fixed-terms>
        </div>
      </div>
    </div>
  </div>
</div>
