.cards {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__leftbox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;

    &-hedder {
      display: flex;
      align-items: flex-start;

      &-info {
        display: flex;
        width: 200px;
        align-items: center;
        justify-content: space-between;

        &-actualCard {
          margin-left: 1rem;
          width: 400;
          font-size: 12px;
          line-height: 14.52px;
          color: #848484;
        }
      }

      &-select {
        display: flex;
        margin-left: auto;

        &-btnLeft,
        &-btnRigth {
          width: 32px;
          height: 32px;
          border-radius: 5px;
          border: solid 1px rgb(12 12 12);
          margin: 0 3px;
          cursor: pointer;

          &-disabled {
            background-color: #ffffffba;
            border: none;
            cursor: default;
          }
        }

      }
    }

    &-card {
      &-app {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    &-footer {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 13rem;

      &-addCard {
        display: flex;
        align-items: center;
        cursor: pointer;

        &-text {
          margin: 0 5px;
          font-weight: 600;
          font-size: 12.22px;
        }
      }

      &-limit {
        &-text {
          font-family: Inter;
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: left;


        }
      }
    }
  }


  &__rigthbox {
    display: flex;
    width: 50%;
  }

}

.vertical-divider {
  width: 1px;
  height: auto;
  background-color: #8E8EA1;
  opacity: 0.5;
  margin: 0 2rem;
}



:host ::ng-deep .mdc-linear-progress__bar-inner {
  border-color: #474747;
}
