<div class="cards fade-in">
  <div class="cards__conteiner">
    <div class="cards__conteiner-sidenavbar">
      <app-side-nav-shared></app-side-nav-shared>
    </div>
    <div class="cards__conteiner-body">
      <div class="cards__insurances-conteiner-navbar">
        <app-nav-bar-shared></app-nav-bar-shared>
      </div>

      <div class="cards__conteiner-body-content">
        <app-headder-cards></app-headder-cards>
        <app-buttons-header></app-buttons-header>
        <app-body-cards></app-body-cards>
      </div>
    </div>
  </div>
</div>
