<div class="operations fade-in">
  <div class="operations__conteiner">
    <div class="operations__conteiner-sidenavbar">
      <app-side-nav-shared></app-side-nav-shared>
    </div>
    <div class="operations__conteiner-body">
      <div class="operations__operations-conteiner-navbar">
        <app-nav-bar-shared></app-nav-bar-shared>
      </div>
      <div class="operations__conteiner-body-content">
        <app-headerOperations></app-headerOperations>
        <div>
          <app-box-operations></app-box-operations>
        </div>
      </div>
    </div>
  </div>
</div>
